*{
  text-align: center;
}
nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh;
  display: flex;
  background: midnightblue;
}

ul{
  list-style-type: none;
  padding-left: 0;
}

li a{
  display: block;
  color: white;
  text-decoration: none;
  padding: 14px 16px;
  font-size: x-large;
  font-weight: bold;
}

table{
  width: 100%;;
}

table,th,td{
  border: 2px solid #ddd;
  border-collapse: collapse;
  padding: 10px;
}

#payslip{
  width: 500px;
  padding: 20px;
  box-shadow: 0 5px 20px rgba(0,0,0,.15);
  margin-left: 200px;
}

button{
  color: white;
  background: black;
  padding: 10px;
  border-radius: 20px;
  margin: 50px;
  margin-left: 200px;
  justify-self: center;
}

select{
  margin-left: 200px;
  margin-bottom: 50px;
  padding: 10px;
}

#totals{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-left: 200px;
}